body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#highlighted_area {
  position: absolute;
  left: 0.07%;
  right: 92.71%;
  top: 0%;
  bottom: 0%;
  background: #89969F;

  width: 104px;
  height: 1024px;
}
#Frame_1 {
  /* Frame 1 */


  /* Auto Layout */

  display: flex;
  flex-direction: column;
  padding: 0px;

  position: absolute;
  width: 60px;
  height: 360px;
  left: 19px;
  top: 189px;

}
#highlighted_area_copy_44_1 {
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 83.33%;
  
  background: #FFCA28;
  border-radius: 4px;
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  align-self: center;
  margin: 40px 40px;

  width: 60px;
  height: 60px;
}
#highlighted_area_copy_44_2{
  position: static;
  left: 0%;
  right: 0%;
  top: 27.78%;
  bottom: 55.56%;

  background: #F6F8F9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 40px;

  width: 60px;
  height: 60px;
}
#highlighted_area_copy_44_3{
  position: static;
  left: 0%;
  right: 0%;
  top: 55.56%;
  bottom: 27.78%;

  background: #F6F8F9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: center;
  margin: 40px 40px;

  width: 60px;
  height: 60px;
}
#highlighted_area_copy_44_4{
  position: static;
  left: 0%;
  right: 0%;
  top: 83.33%;
  bottom: 0%;

  background: #F6F8F9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  align-self: center;
  margin: 0px 40px;

  width: 60px;
  height: 60px;
}
#user_copy_18{
  position: absolute;
  left: 15.39%;
  right: 94.1%;
  top: 91.31%;
  bottom: 2.34%;

  width: 65px;
  height: 65px;
}
#user_copy_18_path{
  position: absolute;
  top: 26px;
  right: 18.2px;
  bottom: 2.24px;
  left: 18.2px;
}
#mask{
  position: relative;
  top: 0;
  left: 0;
}